

body {
    padding: 1%;
    background-color: #050715;
    background: -webkit-linear-gradient(#010307, #111330); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#010307,#111330); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#010307,#111330); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#010307,#111330); /* Standard syntax */
}

#background {
    position: absolute;
    left: 0;
    top: 0;
    z-index:-10;
}



h1 {
    color: #eeeeee;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

h3 {
    color: #eeeeee;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    padding-left: 1em;
}

#map {
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


ul {
    list-style-position: inside;
    padding: 0;
    margin: 0 0 2em 0;
}

#key {

    font-family: "Lato";
    color: white;
    padding: 0px;
    margin: 0px;

}

#nav {
    list-style: none;
    color: #dddddd;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
}

li {
    display: inline;
    padding: 0 1em 0 0;
}

a {
    color: #999;
    text-decoration: none;
    font-weight: bold;
}

#data {
    width: 100%;
}


#graph {
    position: absolute;
    left:0px;
    top: 0;
    position:relative;
    float: left;
    z-index: 10;
}

a.current {
    color: white;
}

.node {
    stroke: #fff;
    stroke-width: 0;
}

.link {
    stroke: #999;
    stroke-width:0.2;
    stroke-opacity: 0.6;
}

text {
      pointer-events: none;
      font: 14px sans-serif;
      color: white;
}

#statistics {
    width: 30%;
    font-family: Lato, sans-serif;
    color: white;
    padding-bottom: 0.5em;
    padding-left: 5%;
    position: absolute;
    right: 0;
    z-index: 10;
}

#last_ledger {
    font-size:1.2em;
    font-style: bold;
    margin-bottom: 1em;
}


#statistics ul {
    list-style: normal;
    list-style-position: inside;
}

#statistics li {
    display: block;
    padding-left: 10px;
}


#network-description {
    color: white;
    font-family: Lato;
    font-weight: thin;
    position: absolute;
    bottom: 0;
    width:80%;
    z-index: -5;

}

#todo {
    color: #999999;
    margin-top: 65px;
    font-family: "Courier New", Courier,  sans-serif;
}



#todo-list {
    counter-reset: todo-counter;
}

#todo-list dt::before {
    content: counter(todo-counter);
    counter-increment: todo-counter;


}
dd {
    font-size: 0.8em;
}

.qset_label {
    font-family: courier,  sans-serif ;
}

.qset_data {
    font-family: courier,  sans-serif ;
}

#mark {
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: Georgia, Courier, sans-serif;
    font-size: 10px;
    padding-right: 5px;
    color: rgba(255,255,255,0.1);
}
